<div class="container">

    <div class="jumbotron text-center">
      <h2>Darcy Financial SBR Enabled Products</h2>
      <br>

        <p>Available Forms:</p>
        <ul>
          <li>Tax File Declaration</li>
          <li>Business Activity Statement</li>
          <li>Individual Tax Return</li>
        </ul>
        <br>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

    <div class="text-center">
    </div>

</div>
